<div class="container mt-5  ">

    <h1 class="text-center">Profile</h1>

    <form action="/tutor/tutorProfile/{{tutorDetails._id}}" method="POST" enctype="multipart/form-data">


        <div class="float-right">
            <img src="/profile_photo/{{tutorDetails._id}}.jpg" style="width:100px ; height:auto;" class="pt-3" alt=""
                id="imgView">
            <input type="file" class="form-control-file" name="Image" id="Image" accept="image/jpg"
                onchange="viewImage(event)">


        </div>
        <div class="form-group" style=" margin: 10px 181px;;width: 50%">


            <div class="form-group row ">
                <label class="col-sm-2 col-form-label font-weight-bold">Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="name" value="{{tutorDetails.name}}">
                </div>
            </div>

            <div class="form-group row ">
                <label class="col-sm-2 col-form-label font-weight-bold">job</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="job" value="{{tutorDetails.job}}">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label font-weight-bold">Class</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="class" value="{{tutorDetails.class}}">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label font-weight-bold">Address</label>
                <div class="col-sm-10">
                    <textarea name="address" class="form-control" cols="10"
                        rows="3"> {{tutorDetails.address}}</textarea>

                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label font-weight-bold">Email</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" name="email" value="{{tutorDetails.email}}">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label font-weight-bold">Mobile</label>
                <div class="col-sm-10">
                    <input type="tel" class="form-control" name="mob" value="{{tutorDetails.mob}}">
                </div>
            </div>

            <div class="col-sm-12" style="text-align:center">


                <button type="submit" id="loginbtn" class="btn btn-primary"
                    onclick="return CheckFileName()">Edit</button>
            </div>


        </div>
    </form>

</div>


<script>
    function viewImage(event) {
        document.getElementById('imgView').src = URL.createObjectURL(event.target.files[0])
    }

    function CheckFileName() {

        var fileName = document.getElementById("Image").value
        if (fileName) {

            if (fileName.split(".")[1].toUpperCase() == "JPG")
                return true;
            else if (fileName.split(".")[1].toUpperCase() == "PNG")
                return true;

            else {
                alert("File with " + fileName.split(".")[1] + " is invalid. Upload a validfile with JPG/PNG extensions");
                return false;
            }
        }
        return true;
    }
</script>